<body>
  <div class="overlay"></div>
  <header>
    <h1>INICIO DE SESIÓN</h1>
    <h2>Ingrese sus datos</h2>
    <div class="logoCole"></div>
  </header>

  <div class="login-container" [ngClass]="{'fade-mode': animar}">
  <div style="display: flex; justify-content: space-between; gap: 10px;">
    <button class="crear-button" 
            [ngClass]="{'active': tipoLogin === 'docente'}" 
            (click)="setLogin('docente')">Docentes</button>

    <button class="crear-button" 
            [ngClass]="{'active': tipoLogin === 'alumno'}" 
            (click)="setLogin('alumno')">Alumnos</button>

    <button class="crear-button" 
            [ngClass]="{'active': tipoLogin === 'admin'}" 
            (click)="setLogin('admin')">Administrador</button>
  </div>

  <input type="text" class="input-field" placeholder="Usuario" [(ngModel)]="usuario">
  <input type="password" class="input-field" placeholder="Contraseña" [(ngModel)]="contrasena">

  <button class="login-button" (click)="login()">Ingresar</button>

  <p class="recuperar-texto" (click)="recuperar()">¿Olvidaste tu contraseña?</p>
</div>
</body>
