<body>
    <div class="overlay"></div>
    <div class="panel-container">
        <div class="panel-header">
            <h2>Panel de Gestión</h2>
            <button class="actividad-button" (click)="actividad()">Visualizar Actividad</button>
        </div>
    <div class="scrolls-container">
        <!-- Alumnos -->
        <div class="scroll-box">
        <h3>Alumnos</h3>
        <div *ngFor="let alumno of alumnos" (click)="recuperarContrasena()">
            <button class="item-button">{{ alumno.nombre + ' ' + alumno.apellido }}</button>
        </div>
        </div>

        <!-- Docentes -->
        <div class="scroll-box">
        <h3>Docentes</h3>
        <div *ngFor="let docente of docentes" (click)="recuperarContrasena()">
            <button class="item-button">{{docente.nombre + ' ' +docente.apellido }} </button>
        </div>
        </div>

        <!-- Pruebas -->
        <div class="scroll-box">
        <h3>Pruebas</h3>
        <div *ngFor="let prueba of pruebas">
        </div>
        </div>
    </div>
    <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
    </div>
</body>